.logo {
  width: 180px;     
  height: auto;     
  margin-bottom: 1rem;
  padding: 20px;
}

.journal-container {
    background-color: #272A2533;;
    width: 700px;
    margin: 40px auto;
    padding: 20px;
    border: #394931 solid 2px;
    border-radius: 10px;
    box-shadow: 5px 6px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.journal-container input {
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1.5px solid #666;
    background-color: #d4d0c1;
}

.journal-container input[type="date"] {
    width: 50%;             
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1.5px solid #666;
    background-color: #d4d0c1;
    font-size: 1rem;
    text-align: center;         
}

.journal-container:focus {
    outline: none;
    border-color: #3b4a2f;
    box-shadow: 0 0 5px rgba(59,74,47,0.5);
}

.journal-container textarea {
    width: 500px;
    height: 300px;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1.5px solid #666;
    background-color: #d4d0c1;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    resize: vertical; 
    min-height: 80px;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

.journal-container textarea:focus {
    outline: none;
    border-color: #3b4a2f;
    box-shadow: 0 0 5px rgba(59,74,47,0.5);
}


.input-row {
    display: flex;
    gap: 10px;      
    margin-bottom: 10px;
}

.input-row input {
    flex: 1;          
}

.input-instruction {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}

.emoji-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.emoji {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.emoji:hover {
    transform: scale(1.5);
}

.selected {
    transform: scale(1.8);
    border: 2px solid #333;
    border-radius: 50%;
}

.add-entry-btn {
    display: block;
    margin: 20px auto 0 auto; 
    background-color: #3b4a2f;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-entry-btn:hover {
    background-color: #2c3623;
}

.mood-summary, .previous-entries {
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.entry-item {
    margin-bottom: 8px;
}

h3, h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #394931;
}
