.recommendations-container {
  font-family: Arial, sans-serif;
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #dcd8c1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 180px;
  height: auto;
  margin-top:10px;
  padding-top: 10px;
}

.recommendations-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.recommendations-container p {
  font-size: 14px;
  color: #394931;
  margin-bottom: 25px;
  text-align: center;
}

.recommendation-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.rec-card {
  background-color: #272A254D; 
  border: 2px solid #394931;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rec-card:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.rec-card h3 {
  color: #394931;
  margin-bottom: 15px;
  font-size: 18px;
  text-align: left;
}

.rec-card ul {
  list-style-type: disc;
  padding-left: 20px;
}

.rec-card ul li {
  font-size: 14px;
  color: #394931;
  margin-bottom: 8px;
}
